
<h2 class="text-center" style="color:#1a001a;" > <i class="fas fa-location-arrow"></i> <%= @forum.event.name %></h2>

<center>
    <%= link_to '<button type="button" class="btn btn-warning"><i class="fas fa-arrow-circle-left"></i> Back to the event</button>'.html_safe, event_path(@forum.event_id) %>  
</center>

<hr>
<h4> <i class="fas fa-chalkboard"></i> <%= @forum.title %> 
<% if user_signed_in? %>
    <% if current_user.admin? or current_user.chair? or current_user.coordinator? @forum.event%>
        &nbsp; 
        <%= link_to '<button type="button" class="btn btn-info"><i class="fas fa-edit"></i> Edit </button>'.html_safe, edit_forum_path(@forum) %>
        <%= link_to '<button type="button" class="btn"><i class="fas fa-user-edit"></i> Manage forum </button>'.html_safe, '/forums/manage?id='+@forum.id.to_s %>  

    <% end %>
<% end %>
</h4>

<hr>

<div>
    <%= commontator_thread(@forum) %>
</div>
