<h1>Divide/</h1>

<hr>
<h2>Implementation details</h2>
<ol>
    <li>
        With Exeption Handling
        <ul>
            <li>
            The denominator is obtained using the 'denominator' get parameter.
            </li>
            <li>
            A 'ZeroDivisionError' is caught and "About to divide by 0" is logged
            to 'log/production.log' using the 'Logger' class.
            </li>
        </ul>
    </li>
    <li>
        Without Exeption Handling
        <ul>
            <li>
            Set 'config.consider_all_requests_local = true' in 
            config/environments/production.rb to show stack trace when errors
            occur.
            </li>
            <li>
            Before the zero division is done,"About to divide by 0" is logged to
            'log/production.log' using the 'Logger' class.
            </li>
        </ul>
    </li>
</ol>
<hr>

<% if params.has_key?(:denominator) %>
    <% if @error%>
        <span style="color:red;">
            divide by zero attempted.
        </span>
    <% else %>
        <span style="color:blue">
            Divided with <%= @denominator %>
        </span>
    <% end %>
<% end %>
<ul>

    <li>
        <%= form_with(url: '/ps1/divide', method: 'get', local: true) do |form| %>
            <%= form.label(:denominator, "Denominator:") %>
            <%= form.number_field(:denominator, :value=>0) %>
            <%= form.submit("divide with exception handling!") %>
        <% end %>
    </li>
    <li>
        <a href="/ps1/divide_exception">divide by 0 without exception handling</a>
    </li>
</ul>
