
<!-- <h2 class="text-center"> <i class="far fa-calendar-alt"></i> Events</h2> -->
<!-- <%= Time.zone.now.to_time.strftime('%z %e %B %Y at %l:%M %p')  %> -->
<% if user_signed_in? %>
    <!-- <%= link_to "Registered Events", "/profile/events" %> -->

        <% if current_user.admin? or current_user.chair?  %>
            <%= link_to '<button type="button" class="btn btn-info"><i class="far fa-calendar-plus"></i> <strong>New Event </strong> </button>'.html_safe, new_event_path %>  
        <% end %>

        <%= link_to '<button type="button" class="btn btn-warning"><i class="far fa-calendar-check"></i> <strong>Registered Events </strong> </button>'.html_safe, "/profile/events" %>  
<% end %>

<hr>

<style type="text/css" media="screen"></style>

<%# <%= week_calendar number_of_weeks: 2, events: @events do |date, events| %1> %>
<%= month_calendar events: @events do |date, events| %>

    <% if user_signed_in? %>
        <% if (current_user.admin? or current_user.chair?) and (date >= DateTime.now)  %>
            <span class="new_event" style="float:right;">
                <a href='<%= "/events/new?start_date=#{date}"%>'><i class='fas fa-plus'></i></a>
            </span>
        <% end %>
    <% end %>

        <div class="date">
            <%= date.day %>
        </div>

        <% events.each do |event| %>
            <div class="event">
                <%= link_to event.name, event %>
            </div>
            <br>
        <% end %>
    <% end %>

<!-- 
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= event.description %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <% if user_signed_in?  %>
            <% if current_user.admin? or current_user.chair? %>
                <td><%= link_to 'Edit', edit_event_path(event) %></td>
                <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

-->
