<p>
  <h3>
    <%= @event.name %>
  </h3>

  <hr>

  <table class="table table-hover">
    <tr>
      <th width=200>E-mail</th>
      <th width=200>Roles</th>
    </tr>

    <% @event.users.distinct.each do |user| %>

      <tr class="user_row" id="<%= user.id %>">
        <td><%= user.email %></td>
        <td class="user_role">
            <table class="table ">
                <% user.user_events.where(event: @event).each do |user_event| %>
                    <tr>
                        <td>
                            <%= form_tag(:action => 'delete_user_event', :class => 'form') do %>
                                <%= hidden_field_tag 'user_id', user.id  %>
                                <%= hidden_field_tag 'event_id', @event.id  %>
                                <%= hidden_field_tag 'role', user_event[:role]  %>

                                <div style="float:left;">
                                    <%= user_event[:role] %>
                                </div>
                                <div style="float:right;">
                                    <%= submit_tag "remove role", :id => "submit", :name => "submit", :class => "form_submit btn btn-danger", :disabled => false, :disable_with => "Please wait..." %>
                                </div>
                            <% end %>
                            <br>
                            <% if user_event.role == 'coordinator' %>
                                <div style="color:grey;">
                                    <hr>
                                    <%= form_tag(:action => 'update_coordinator_privilage', :class => 'form') do %>
                                        <%= hidden_field_tag 'user_id', user.id  %>
                                        <%= hidden_field_tag 'user_event_id', user_event.id  %>
                                        <span style="float:left">
                                            Privilage level: <%= UserEvent.PRIVILAGE_LEVEL_HASH[user_event.privilage_level] %>
                                            <%= select_tag(:privilage_level, options_for_select(@privilage_options, user.user_events.first[:privilage_level]), :class=> "form-control event_role") %>
                                        </span>
                                        <br>
                                        <span style="float:right">
                                            <%= submit_tag "Update Privilages", :id => "submit", :name => "submit", :class => "form_submit btn btn-success", :disabled => false, :disable_with => "Please wait..." %>
                                        </span>
                                    <% end %>
                                </div>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
                <tr>
                    <td>
                        <%= form_tag(:action => 'update_user_event', :class => 'form') do %>
                            <%= hidden_field_tag 'user_id', user.id  %>
                            <%= hidden_field_tag 'event_id', @event.id  %>
                            <div style="float:left;">
                                <%= select_tag(:role, options_for_select(@role_options, user.user_events.first[:role]), :class=> "form-control event_role") %>
                            </div>

                            <div style="float:right;">
                                <%= submit_tag "Add role", :id => "submit", :name => "submit", :class => "form_submit btn btn-success", :disabled => false, :disable_with => "Please wait..." %>
                            </div>

                        </td>
                    <% end %>
                </tr>
            </table>
        </td>
      </tr>

    <% end %>
  </table>
</p>

