<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<% if current_user.admin? or current_user.chair? %>
    <%= link_to "Manage Event", '/events/manage?id='+@event.id.to_s %> |
    <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>

<br>

<h4>Activities:</h4>
<ul>
<% @activities.each do |activity|%>
    <li>
        <%= activity.name %>
        from <%= activity.start_time %> to <%= activity.end_time %>
    </li>
<% end %>
<li> <%= link_to 'Add Activity', "/activities/new?event_id=#{@event.id}", :class=> "btn" %> </li>
</ul>

<br>

<% if current_user.user_events.where(user: current_user,event: @event).count == 0 %>
  <%= form_tag(:action => 'register', :class => 'form') do %>
    <%= hidden_field_tag 'user_id', current_user.id%>
    <%= hidden_field_tag 'event_id', @event.id%>
    <%= submit_tag "Register", :id => "submit", :name => "submit", :class => "btn btn-success form_submit", :disabled => false, :disable_with => "Please wait..." %>
  <% end %>
<% else %>
  <%= form_tag(:action => 'unregister', :class => 'form') do %>
    <%= hidden_field_tag 'user_id', current_user.id%>
    <%= hidden_field_tag 'event_id', @event.id%>
    <%= submit_tag "Unregister", :id => "submit", :name => "submit", :class => "btn btn-danger form_submit", :disabled => false, :disable_with => "Please wait..." %>
  <% end %>
<% end %>

<hr>

<h4>Forums:</h4>

<%= link_to "Create New Forum", "/forums/new?event_id=#{@event.id}" %>

<ul>
    <% @event.forums.each do |forum| %>
        <li>
            <%= link_to forum.title, '/forums/'+forum.id.to_s %>
        </li>
    <% end %>
</ul>

