<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


<hr>

<h4>Forums:</h4>

<%= link_to "Create New Forum", "/forums/new" %>

<ul>
    <% @event.forums.each do |forum| %>
        <li>
            <%= link_to forum.title, '/forums/'+forum.id.to_s %>
        </li>
    <% end %>
</ul>

