<h2 class="text-center"><i class="fas fa-user-circle"></i> Sign in</h2>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email, 'E-mail: ' , :class => "control-label col-sm-1" %> <br>
    <div class="col-sm-11">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control', placeholder: 'Email' %>
    </div>
  </div>
<br><br>
  <div class="form-group">
    <%= f.label :password , 'Password:' , :class => "control-label col-sm-1" %> <br>
    <div class="col-sm-11">
      <%= f.password_field :password, autocomplete: "current-password" , class: 'form-control', placeholder: 'Password' %>
    </div>
  </div>
<br><br>
  <% if devise_mapping.rememberable? -%>
  <div class=" col-sm-1 field">
  </div>
    <div class=" col-sm-11 field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
<br>
  <div class="actions">
    <%= f.submit "Log in" , :class => 'btn btn-primary btn-md' %>
  </div>
<% end %>
