<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @activity.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @activity.end_time %>
</p>

<p>
  <strong>Event:</strong>
  <%= link_to @activity.event.name, "/events/#{@activity.event.id}" %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>

<hr>
<h4>Requirements</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requirements.each do |requirement| %>
      <tr>
        <td><%= link_to requirement.title, requirement %></td>
        <td><%= requirement.description %></td>
        <td><%= link_to 'Edit', edit_requirement_path(requirement), :class => "btn" %></td>
        <td><%= link_to 'Destroy', requirement, :class=> "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add requirement', "/requirements/new?activity_id=#{@activity.id}", :class=> "btn btn-success" %>

