<style>

#user-detail {
  
    border: 2px solid grey;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -200px;
    margin-left: -195px;
}
</style>

<br><br>

<div class="text-center">

    <h1 ><i class="far fa-user-circle"></i></h1>

    <h3 ><%= current_user.email %></h3>

    <%= link_to '<button type="button" class="btn btn-primary"><i class="fas fa-edit"></i> Edit your profile</button>'.html_safe, edit_user_registration_path %>
  
</div>

<div class="text-center" id="user-detail">

    <table class="table table-borderless">
      
      <tbody>

        <tr>
          <th class="text-left" width="150"><i class="fas fa-envelope"></i> Email :</th>
          <td class="text-left"><%= current_user.email %></td>
        </tr>
        
        <tr>
          <th class="text-left" width="150"><i class="fas fa-building"></i> Dapartment :</th>
          <td class="text-left"><%= current_user.department[:name] %></td>
        </tr>

        <tr>
          <th class="text-left" width="150"><i class="fas fa-flag"></i> Nationality :</th>
          <td class="text-left"><%= current_user.nationality %></td>
        </tr>

      </tbody>
      
    </table>
  
</div>





  
