<h3>Quotations</h3>
<ul>
  <% for quotation in @quotations %>
    <li><%= h quotation.author_name %>: <%= h quotation.quote %></li>
  <% end %>
</ul>
<br/>
<% if params[:sort_by] == "date" %>
  <%= link_to "Sort by category", :action => :quotation, :sort_by => :category %>
<% else %>
  <%= link_to "Sort by date", :action => :quotation, :sort_by => :date %>
<% end %>
<hr/>

<h3>New quotation</h3>
<%= form_for @quotation, url: { action: "quotation" } do |form| %>
  <%# <%= form.error_messages %1> %>
  <fieldset>
    <legend>Enter details</legend>
    <div class="form_row">
      <%= form.label :author_name %>
      <%= form.text_field :author_name, :size => 20, :maxlength => 40 %>
    </div>
    <div class="form_row">
      <%= form.label :category %>
      <%= form.select(:category, options_for_select(@category_options)) %>
    </div>
    <div class="form_row">
      <%= form.label :new_category %>
      <%# <%= form.text_field :new_category, :size => 20, :maxlength => 40 %1> %>
      <input type="text" value="" name="new_category" id="new_category"/>
    </div>
    <div class="form_row">
      <%= form.label :quote %>
      <%= form.text_area :quote, :rows => 2, :cols => 40, :maxlength => 500 %>
    </div>
  </fieldset>

  <p>
  <div class="form_row">
    <%= form.submit 'Create' %>
  </div>
  </p>
<% end %>
