<!DOCTYPE html>
<html>
    <head>
        <title>Web18-07</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">

    </head>

    <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <a class="navbar-brand" href="<%= home_index_path() %>">
              <i class="fas fa-home"></i> Web07
          </a>


          <div class="collapse navbar-collapse" id="navbarText">

            <ul class="navbar-nav mr-auto">

                  <li class="nav-item">
                    <a class="nav-link" href="<%= url_for (:back) %>">  Back</a>
                  </li>

                  

                  <% if user_signed_in? %>

                  <li class="nav-item">
                      <a class="nav-link"href="<%= events_path() %>">
                          <i class="fas fa-calendar"></i> Events
                      </a>
                  </li>


                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-lock"></i> Admin Page
                      </a>

                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="<%= user_management_show_path() %>"> <i class="fas fa-user-edit"></i> Manage users</a>
                          <a class="dropdown-item" href="<%= user_management_statistic_users_path() %>"> <i class="fas fa-chart-line"></i> The statistic of users</a>
                      </div>
                  </li>

              </ul>

                 <li class="navbar-text">
                    <a href="<%= user_management_profile_path  %>">
                        <i class="far fa-user"></i> <%= current_user.email %>&nbsp;&nbsp;&nbsp;
                    </a>
                  </li>

                  <li class="navbar-text">
                    <a href="<%= destroy_user_session_path  %>" data-method="delete">
                         <i class="fas fa-sign-out-alt"></i> Sign out
                    </a>
                  </li>

                <% else %>

                    <span class="navbar-text">
                        <a  href="<%= new_user_registration_path() %>">
                            <i class="fas fa-user-alt"></i> Sign up &nbsp;
                        </a>
                    </span>

                    <li class="navbar-text">

                        <a  href="<%= new_user_session_path() %>">
                            <i class="fas fa-sign-in-alt"></i> Log in
                        </a>

                    </li >
  
                <% end %>
 
          </div>

      </nav>

        <div id="container">

          

           <div id="wrapper" class="container">
              <br> 
               <% if flash[:notice] %>
                   <div class="flash notice" style="color:green;">
                       <%= flash[:notice] %>
                   </div>
               <% end %>
               <% if flash[:alert] %>
                   <div class="flash alert" style="color:blue;">
                       <%= flash[:alert] %>
                   </div>
               <% end %>
               <% if flash[:error] %>
                   <div class="flash error" style="color:red;">
                       <%= flash[:error] %>
                   </div>
               <% end %>

              <%= yield %>
            
           </div>

              <div class="card-footer text-muted">
                  <%= link_to "HTML Validator", "https://validator.w3.org/nu/?doc="+request.original_url %>
              </div>
           

        </div>

    </body>

</html>
