<!DOCTYPE html>
<html>
  <head>
    <title>Web1807</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <div class="footer">
      <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fweb7.cs.ait.ac.th%2F">HTML Validator</a>
  </div>    
</html>
