<!DOCTYPE html>
<html>
    <head>
        <title>Web1807</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div class="navbar navbar-default">

            <div class="container-fluid">

                <div class="navbar-header">
                    <%= link_to "Web07", "/" , :class => "navbar-brand"%>
                </div>

                <ul class="nav navbar-nav">
                    <li> <%= link_to "back", :back %> </li>
                    <% if user_signed_in? %>
                        <span class="navbar-text">
                            <%= current_user.email %>
                        </span>
                        <li>
                        <li>
                        <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                        </li>
                        <% if current_user.admin? %>
                            <li>
                            <%= link_to "Admin Page", "/user_management/index" %>
                            </li>
                        <% end %>
                    <% else %>
                        <li>
                        <%= link_to "Sign up", new_user_registration_path %>
                        </li>
                        <li>
                        <%= link_to "Sign in", new_user_session_path %>
                        </li>
                    <% end %>
                </ul>

            </div>

        </div>

        <div id="container">

            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <% if flash[:error] %>
                <div id="error">
                    <%= flash[:error] %>
                </div>
            <% end %>

           <div id="wrapper" class="container">
              <%= yield %>
           </div>

        </div>

        <div class="panel-footer">
            <%= link_to "HTML Validator", "https://validator.w3.org/nu/?doc="+request.original_url %>
        </div>
    </body>
</html>
