<!DOCTYPE html>
<html>
    <head>
        <title>Web1807</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div class="navbar navbar-default">

            <div class="container-fluid">

                <ul class="nav navbar-nav">
                  <li>
                      <a href="<%= home_index_path() %>">
                          <i class="fas fa-home"></i> Web07
                      </a>
                  </li>

                  <li>
                      <a href="<%= url_for (:back) %>">
                          <i class="fas fa-step-backward"></i> back
                      </a>
                  </li>

                    <% if user_signed_in? %>
                        <span class="navbar-text">
                            <%= current_user.email %>
                            <%= link_to "user", "/user_management/profile" %>
                        </span>



                        <li>
                            <a href="<%= events_path() %>">
                                <i class="fas fa-calendar"></i> Events
                            </a>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-lock"></i> Admin Page<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Manage users", "/user_management/show" %></li>
                                <li><%= link_to "The statistic of users", "/user_management/statistic_users" %></li>

                            </ul>
                        </li>

                        <li class="nav navbar-nav navbar-right">
                          <a href="<%= destroy_user_session_path  %>" data-method="delete">
                              <i class="fas fa-sign-out-alt"></i> Sign out
                          </a>
                        </li>

                    <% else %>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="<%= new_user_registration_path() %>">
                                <i class="fas fa-user-alt"></i> Sign up
                            </a>
                        </li>

                        <li>
                            <a href="<%= new_user_session_path() %>">
                                <i class="fas fa-sign-in-alt"></i> Log in
                            </a>
                        </li>
                    </ul>
                    <% end %>
                </ul>

            </div>

        </div>


        <div id="container">

           <div id="wrapper" class="container">

               <% if flash[:notice] %>
                   <div class="flash notice" style="color:green;">
                       <%= flash[:notice] %>
                   </div>
               <% end %>
               <% if flash[:alert] %>
                   <div class="flash alert" style="color:blue;">
                       <%= flash[:alert] %>
                   </div>
               <% end %>
               <% if flash[:error] %>
                   <div class="flash error" style="color:red;">
                       <%= flash[:error] %>
                   </div>
               <% end %>

              <%= yield %>
           </div>

           <div class="panel-footer">
             <%= link_to "HTML Validator", "https://validator.w3.org/nu/?doc="+request.original_url %>
           </div>

        </div>


    </body>

    <script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown()
        });
    </script>
</html>
